<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>Welcome to our Disaster Relief Donation Management platform! We are a dedicated team of technologists and humanitarian workers passionate about creating a positive impact through innovation. Leveraging the power of MongoDB and cloud technologies, our platform enables communities and organizations to quickly mobilize resources and distribute donations effectively during times of crisis. By providing a scalable, data-driven system for tracking, managing, and delivering relief resources, we aim to reduce response times, improve transparency, and ensure that critical supplies reach those who need them most.</li>
		
	</ul>
</div>