<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to empower communities and relief organizations with the tools they need to respond to natural disasters swiftly and efficiently. We believe in the transformative power of technology to connect resources with needs in real time, saving lives and supporting recovery. Through our platform, we aim to optimize donation logistics, enhance transparency, and foster a spirit of resilience and unity. Every disaster presents unique challenges, and our mission is to provide a system that adapts to those needs, helping people rebuild faster and stronger.</h4>
</div>